<h1>Bibliotecas<h1>

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import statistics
from sqlalchemy import create_engine
import schedule 
import time

<h1>Dataframe não Processado</h1>

In [2]:
j=pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')
j

       ordem linha  latitude  longitude  velocidade             dataHora
0     D87859  2336 -22.91671  -43.60831           0  07-19-2022 03:57:53
1     C47755   600 -22.95258  -43.34872           0  07-19-2022 06:07:15
2     D17105   849 -22.91718  -43.60826           1  07-19-2022 06:49:22
3     A63521   104 -22.86757  -43.25888           0  07-19-2022 07:39:44
4     C47960  2111 -22.87994  -43.35679           0  07-19-2022 08:12:44
...      ...   ...       ...        ...         ...                  ...
3567  A71538   416 -22.93025  -43.25468           0  07-19-2022 15:06:04
3568  B11502   908 -22.87096  -43.34185          19  07-19-2022 15:06:04
3569  B11559   778 -22.83341  -43.36532          22  07-19-2022 15:06:04
3570  B11578   363 -22.90232  -43.27770          34  07-19-2022 15:06:04
3571  B11703   652 -22.90265  -43.27804           0  07-19-2022 15:06:04

[3572 rows x 6 columns]

<h1>Pré-Processamento</h1>

In [3]:
## Dataframe Original
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

# Etapa de construção do novo dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']
dataHora=json['dataHora'].astype('datetime64[ns]')

# Concatenando os campos num Dataframe Parcial, através do pandas
df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,dataHora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','dataHora'])

#Ajuste de Fuso Horário através do Pandas
DataHoraOriginalChange=df2['dataHora']
df2['dataHoraBrasil']=pd.to_datetime(DataHoraOriginalChange, unit='ms').dt.tz_localize('UTC').dt.tz_convert('America/Argentina/Catamarca')

#visualização Parcial do Dataframe
df2

,ordem,linha,empresa,latitude,longitude,velocidade,dataHora,dataHoraBrasil
0,D87859,2336,Expresso Pégasso Ltda,-22.91671,-43.60831,0,2022-07-19 03:57:53,2022-07-19 00:57:53-03:00
1,C47755,600,Viação Redentor Ltda,-22.95258,-43.34872,0,2022-07-19 06:07:15,2022-07-19 03:07:15-03:00
2,D17105,849,Auto Viação Palmares Ltda,-22.91718,-43.60826,1,2022-07-19 06:49:22,2022-07-19 03:49:22-03:00
3,A63521,104,Gire Transportes Ltda,-22.86757,-43.25888,0,2022-07-19 07:39:44,2022-07-19 04:39:44-03:00
4,C47960,2111,Viação Redentor Ltda,-22.87994,-43.35679,0,2022-07-19 08:12:44,2022-07-19 05:12:44-03:00
...,...,...,...,...,...,...,...,...
3560,A71538,416,Viação Nossa Senhora das Graças Ltda,-22.93025,-43.25468,0,2022-07-19 15:06:04,2022-07-19 12:06:04-03:00
3561,B11502,908,Viação Vila Real S/A,-22.87096,-43.34185,19,2022-07-19 15:06:04,2022-07-19 12:06:04-03:00
3562,B11559,778,Viação Vila Real S/A,-22.83341,-43.36532,22,2022-07-19 15:06:04,2022-07-19 12:06:04-03:00
3563,B11578,363,Viação Vila Real S/A,-22.90232,-43.27770,34,2022-07-19 15:06:04,2022-07-19 12:06:04-03:00
3564,B11703,652,Viação Vila Real S/A,-22.90265,-43.27804,0,2022-07-19 15:06:04,2022-07-19 12:06:04-03:00

In [4]:
#Dataframe Final 

ordemfinal=df2['ordem']
linhafinal=df2['linha']
empresafinal=df2['empresa']
latitudefinal=df2['latitude']
longitudefinal=df2['longitude']
velocidadefinal=df2['velocidade']

#Data Padrão Brasileiro
data=df2['dataHoraBrasil'].astype("string")
x=data.str.slice(0,10)
final=x.astype('datetime64[ns]')
data2=final.dt.strftime('%d/%m/%Y')

#Hora
hora=df2['dataHoraBrasil'].astype("string")
horafinal=hora.str.slice(11,19)

# Criando um Dataframe Final
dfparcial= pd.DataFrame(list(zip(ordemfinal,linhafinal,empresafinal,latitudefinal,longitudefinal,velocidadefinal,horafinal,data2)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','horario','data'])
dfFinal=dfparcial.drop_duplicates(subset=['latitude','longitude'])

dfFinal

,ordem,linha,empresa,latitude,longitude,velocidade,horario,data
0,D87859,2336,Expresso Pégasso Ltda,-22.91671,-43.60831,0,00:57:53,19/07/2022
1,C47755,600,Viação Redentor Ltda,-22.95258,-43.34872,0,03:07:15,19/07/2022
2,D17105,849,Auto Viação Palmares Ltda,-22.91718,-43.60826,1,03:49:22,19/07/2022
3,A63521,104,Gire Transportes Ltda,-22.86757,-43.25888,0,04:39:44,19/07/2022
4,C47960,2111,Viação Redentor Ltda,-22.87994,-43.35679,0,05:12:44,19/07/2022
...,...,...,...,...,...,...,...,...
3560,A71538,416,Viação Nossa Senhora das Graças Ltda,-22.93025,-43.25468,0,12:06:04,19/07/2022
3561,B11502,908,Viação Vila Real S/A,-22.87096,-43.34185,19,12:06:04,19/07/2022
3562,B11559,778,Viação Vila Real S/A,-22.83341,-43.36532,22,12:06:04,19/07/2022
3563,B11578,363,Viação Vila Real S/A,-22.90232,-43.27770,34,12:06:04,19/07/2022
3564,B11703,652,Viação Vila Real S/A,-22.90265,-43.27804,0,12:06:04,19/07/2022

<h1>Persistindo Postgresql</h1>

In [ ]:
def persiste_time():
    db_connection = 'postgresql://postgres:sistema18@localhost:5432/transporte'
    db_connection = create_engine(db_connection)
    dfFinal.to_sql(con=db_connection, name='transporte' , if_exists='append', index=False)

schedule.every(6).seconds.do(persiste_time)

while True:
    schedule.run_pending()
    time.sleep(1)