<h1>Bibliotecas<h1>

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import statistics
from sqlalchemy import create_engine
import schedule 
import time

<h1>Dataframe não Processado</h1>

In [2]:
j=pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')
j

       ordem  linha  latitude  longitude  velocidade             dataHora
0     B10420        -16.57215  -56.06768         101  07-20-2022 05:44:29
1     D13294  SV790 -22.87583  -43.41932           0  07-20-2022 06:12:58
2     C13135    878 -22.89030  -43.35741           8  07-20-2022 06:21:56
3     D53601    847 -22.88482  -43.49768           0  07-20-2022 06:30:49
4     D13275    790 -22.86422  -43.50917          40  07-20-2022 06:32:53
...      ...    ...       ...        ...         ...                  ...
3550  B11574    363 -22.90199  -43.27946          14  07-20-2022 12:50:03
3551  B11503    362 -22.87209  -43.24528          52  07-20-2022 12:50:04
3552  B11542    363 -22.90359  -43.25654           0  07-20-2022 12:50:04
3553  B11587    378 -22.90272  -43.18377           0  07-20-2022 12:50:04
3554  B11532    650 -22.85764  -43.35272           0  07-20-2022 12:50:05

[3555 rows x 6 columns]

<h1>Pré-Processamento</h1>

In [3]:
## Dataframe Original
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

# Etapa de construção do novo dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']
dataHora=json['dataHora'].astype('datetime64[ns]')

# Concatenando os campos num Dataframe Parcial, através do pandas
df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,dataHora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','dataHora'])

#Ajuste de Fuso Horário através do Pandas
DataHoraOriginalChange=df2['dataHora']
df2['dataHoraBrasil']=pd.to_datetime(DataHoraOriginalChange, unit='ms').dt.tz_localize('UTC').dt.tz_convert('America/Argentina/Catamarca')

#visualização Parcial do Dataframe
df2

,ordem,linha,empresa,latitude,longitude,velocidade,dataHora,dataHoraBrasil
0,D13294,SV790,Transportes Barra Ltda,-22.87583,-43.41932,0,2022-07-20 06:12:58,2022-07-20 03:12:58-03:00
1,C13135,878,Transportes Barra Ltda,-22.89030,-43.35741,8,2022-07-20 06:21:56,2022-07-20 03:21:56-03:00
2,D53601,847,Transportes Campo Grande Ltda,-22.88482,-43.49768,0,2022-07-20 06:30:49,2022-07-20 03:30:49-03:00
3,D13275,790,Transportes Barra Ltda,-22.86422,-43.50917,40,2022-07-20 06:32:53,2022-07-20 03:32:53-03:00
4,C30080,557,Transportes Futuro Ltda,-22.94999,-43.34774,0,2022-07-20 06:58:53,2022-07-20 03:58:53-03:00
...,...,...,...,...,...,...,...,...
3543,B11574,363,Viação Vila Real S/A,-22.90199,-43.27946,14,2022-07-20 12:50:03,2022-07-20 09:50:03-03:00
3544,B11503,362,Viação Vila Real S/A,-22.87209,-43.24528,52,2022-07-20 12:50:04,2022-07-20 09:50:04-03:00
3545,B11542,363,Viação Vila Real S/A,-22.90359,-43.25654,0,2022-07-20 12:50:04,2022-07-20 09:50:04-03:00
3546,B11587,378,Viação Vila Real S/A,-22.90272,-43.18377,0,2022-07-20 12:50:04,2022-07-20 09:50:04-03:00
3547,B11532,650,Viação Vila Real S/A,-22.85764,-43.35272,0,2022-07-20 12:50:05,2022-07-20 09:50:05-03:00

In [4]:
#Dataframe Final 

ordemfinal=df2['ordem']
linhafinal=df2['linha']
empresafinal=df2['empresa']
latitudefinal=df2['latitude']
longitudefinal=df2['longitude']
velocidadefinal=df2['velocidade']

#Data Padrão Brasileiro
data=df2['dataHoraBrasil'].astype("string")
x=data.str.slice(0,10)
final=x.astype('datetime64[ns]')
data2=final.dt.strftime('%d/%m/%Y')

#Hora
hora=df2['dataHoraBrasil'].astype("string")
horafinal=hora.str.slice(11,19)

# Criando um Dataframe Final
dfparcial= pd.DataFrame(list(zip(ordemfinal,linhafinal,empresafinal,latitudefinal,longitudefinal,velocidadefinal,horafinal,data2)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','horario','data'])
dfFinal=dfparcial.drop_duplicates(subset=['latitude','longitude'])

dfFinal

,ordem,linha,empresa,latitude,longitude,velocidade,horario,data
0,D13294,SV790,Transportes Barra Ltda,-22.87583,-43.41932,0,03:12:58,20/07/2022
1,C13135,878,Transportes Barra Ltda,-22.89030,-43.35741,8,03:21:56,20/07/2022
2,D53601,847,Transportes Campo Grande Ltda,-22.88482,-43.49768,0,03:30:49,20/07/2022
3,D13275,790,Transportes Barra Ltda,-22.86422,-43.50917,40,03:32:53,20/07/2022
4,C30080,557,Transportes Futuro Ltda,-22.94999,-43.34774,0,03:58:53,20/07/2022
...,...,...,...,...,...,...,...,...
3543,B11574,363,Viação Vila Real S/A,-22.90199,-43.27946,14,09:50:03,20/07/2022
3544,B11503,362,Viação Vila Real S/A,-22.87209,-43.24528,52,09:50:04,20/07/2022
3545,B11542,363,Viação Vila Real S/A,-22.90359,-43.25654,0,09:50:04,20/07/2022
3546,B11587,378,Viação Vila Real S/A,-22.90272,-43.18377,0,09:50:04,20/07/2022
3547,B11532,650,Viação Vila Real S/A,-22.85764,-43.35272,0,09:50:05,20/07/2022

<h1>Persistindo Postgresql</h1>

In [ ]:
def persiste_time():
    db_connection = 'postgresql://postgres:sistema18@localhost:5432/transporte_db'
    db_connection = create_engine(db_connection)
    dfFinal.to_sql(con=db_connection, name='transporte' , if_exists='append', index=False)

schedule.every(900).seconds.do(persiste_time)

while True:
    schedule.run_pending()
    time.sleep(1)