# Bibliotecas

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import statistics
from sqlalchemy import create_engine
import schedule 
import time

<h1>Dataframe não Processado</h1>

In [2]:
j=pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')
j

       ordem linha  latitude  longitude  velocidade             dataHora
0     B63088   919 -22.86768  -43.25876           1  11-20-2022 01:37:13
1     B32727   298 -22.90635  -43.19261         128  11-20-2022 04:43:03
2     D13358   741 -22.87965  -43.35698           0  11-20-2022 05:08:01
3     A29019   472 -22.86824  -43.29267           1  11-20-2022 05:50:36
4     D87750  2336 -22.91669  -43.60765           0  11-20-2022 06:13:28
...      ...   ...       ...        ...         ...                  ...
3266  B71149   455 -22.90659  -43.19484           0  11-20-2022 13:52:00
3267  B11509   363 -22.89610  -43.30605           0  11-20-2022 13:52:01
3268  B11578   363 -22.91537  -43.23235           4  11-20-2022 13:52:01
3269  A71509   133 -22.93113  -43.17878           0  11-20-2022 13:52:03
3270  B11510   665 -22.82931  -43.34591          28  11-20-2022 13:52:03

[3271 rows x 6 columns]

<h1>Pré-Processamento</h1>

In [3]:
## Dataframe Original
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

# Etapa de construção do novo dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']
dataHora=json['dataHora'].astype('datetime64[ns]')

# Concatenando os campos num Dataframe Parcial, através do pandas
df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,dataHora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','dataHora'])

#Ajuste de Fuso Horário através do Pandas
DataHoraOriginalChange=df2['dataHora']
df2['dataHoraBrasil']=pd.to_datetime(DataHoraOriginalChange, unit='ms').dt.tz_localize('UTC').dt.tz_convert('America/Argentina/Catamarca')

#visualização Parcial do Dataframe
df2

,ordem,linha,empresa,latitude,longitude,velocidade,dataHora,dataHoraBrasil
0,B63088,919,Gire Transportes Ltda,-22.86768,-43.25876,1,2022-11-20 01:37:13,2022-11-19 22:37:13-03:00
1,B32727,298,Viação Pavuenense S/A,-22.90635,-43.19261,128,2022-11-20 04:43:03,2022-11-20 01:43:03-03:00
2,D13358,741,Transportes Barra Ltda,-22.87965,-43.35698,0,2022-11-20 05:08:01,2022-11-20 02:08:01-03:00
3,A29019,472,Empresa Braso Lisboa,-22.86824,-43.29267,1,2022-11-20 05:50:36,2022-11-20 02:50:36-03:00
4,D87750,2336,Expresso Pégasso Ltda,-22.91669,-43.60765,0,2022-11-20 06:13:28,2022-11-20 03:13:28-03:00
...,...,...,...,...,...,...,...,...
3262,B71149,455,Viação Verdun S/A,-22.90659,-43.19484,0,2022-11-20 13:52:00,2022-11-20 10:52:00-03:00
3263,B11509,363,Viação Vila Real S/A,-22.89610,-43.30605,0,2022-11-20 13:52:01,2022-11-20 10:52:01-03:00
3264,B11578,363,Viação Vila Real S/A,-22.91537,-43.23235,4,2022-11-20 13:52:01,2022-11-20 10:52:01-03:00
3265,A71509,133,Viação Nossa Senhora das Graças Ltda,-22.93113,-43.17878,0,2022-11-20 13:52:03,2022-11-20 10:52:03-03:00
3266,B11510,665,Viação Vila Real S/A,-22.82931,-43.34591,28,2022-11-20 13:52:03,2022-11-20 10:52:03-03:00

In [4]:
#Dataframe Final 

ordemfinal=df2['ordem']
linhafinal=df2['linha']
empresafinal=df2['empresa']
latitudefinal=df2['latitude']
longitudefinal=df2['longitude']
velocidadefinal=df2['velocidade']

#Data Padrão Brasileiro
data=df2['dataHoraBrasil'].astype("string")
x=data.str.slice(0,10)
final=x.astype('datetime64[ns]')
data2=final.dt.strftime('%d/%m/%Y')

#Hora
hora=df2['dataHoraBrasil'].astype("string")
horafinal=hora.str.slice(11,19)

# Criando um Dataframe Final
dfparcial= pd.DataFrame(list(zip(ordemfinal,linhafinal,empresafinal,latitudefinal,longitudefinal,velocidadefinal,horafinal,data2)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','horario','data'])
dfFinal=dfparcial.drop_duplicates(subset=['latitude','longitude'])

dfFinal

,ordem,linha,empresa,latitude,longitude,velocidade,horario,data
0,B63088,919,Gire Transportes Ltda,-22.86768,-43.25876,1,22:37:13,19/11/2022
1,B32727,298,Viação Pavuenense S/A,-22.90635,-43.19261,128,01:43:03,20/11/2022
2,D13358,741,Transportes Barra Ltda,-22.87965,-43.35698,0,02:08:01,20/11/2022
3,A29019,472,Empresa Braso Lisboa,-22.86824,-43.29267,1,02:50:36,20/11/2022
4,D87750,2336,Expresso Pégasso Ltda,-22.91669,-43.60765,0,03:13:28,20/11/2022
...,...,...,...,...,...,...,...,...
3262,B71149,455,Viação Verdun S/A,-22.90659,-43.19484,0,10:52:00,20/11/2022
3263,B11509,363,Viação Vila Real S/A,-22.89610,-43.30605,0,10:52:01,20/11/2022
3264,B11578,363,Viação Vila Real S/A,-22.91537,-43.23235,4,10:52:01,20/11/2022
3265,A71509,133,Viação Nossa Senhora das Graças Ltda,-22.93113,-43.17878,0,10:52:03,20/11/2022
3266,B11510,665,Viação Vila Real S/A,-22.82931,-43.34591,28,10:52:03,20/11/2022

<h1>Persistindo Postgresql</h1>

In [ ]:
def persiste_time():
    db_connection = 'postgresql://postgres:sistema18@localhost:5432/transporte'
    db_connection = create_engine(db_connection)
    dfFinal.to_sql(con=db_connection, name='transporte' , if_exists='append', index=False)

schedule.every(2).minutes.do(persiste_time)

while True:
    schedule.run_pending()
    time.sleep(1)